@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html {
  font-family: "Montserrat", sans-serif;
}

div {
  text-align: center;
}

img {
  width: 300px;
  height: 300px;
}

h1 {
  margin: 0;
}
